01-nutrients.md
01-nutrients.utf8.md
diet_periodontal_book.rds
03-references.rmd
index.md
index.utf8.md
02-food_groups.utf8.md
rendera53472fb7d57.rds
renderbaf822ab38b2.rds
renderf9d832d93d4.rds
01-nutrients.knit.md
bookdown_build_script-David’s MacBook Pro.R
diet_periodontal_book-David’s MacBook Pro.rds
packages-David’s MacBook Pro.bib
